.blog-container {
  padding: 20px;
  background-color: #fff;
  color: #333;
}

.blog-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.blog-navbar button {
  margin: 5px 10px;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s, border-bottom 0.3s, box-shadow 0.3s;
}

.blog-navbar button:hover,
.blog-navbar button.active {
  color: #ff6f61;
  border-bottom: 2px solid #ff6f61;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-heading {
  font-size: 36px;
  margin: 20px 0;
  color: #333;
  text-align: center;
}

.blog-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.blog-post {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.blog-post:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-post-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog-post-content {
  padding: 20px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(100%);
  transition: transform 0.3s;
}

.blog-post:hover .blog-post-content {
  transform: translateY(0);
}

.blog-post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.blog-post-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

.blog-post-excerpt {
  font-size: 16px;
  margin-bottom: 20px;
}

.read-more-button {
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-more-button:hover {
  background-color: #e65c50;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s, background-color 0.3s;
}

.pagination button:hover,
.pagination button.active {
  color: #fff;
  background-color: #ff6f61;
  border-radius: 5px;
}

/* Specific styles for the Marketing category layout */
.marketing-layout {
  grid-template-columns: repeat(2, 1fr);
}

.marketing-layout .blog-post.full-width {
  grid-column: span 2;
}